# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

*/img/.DS_Store

.DS_Store

#node modules not required in source
/node_modules/
*/node_modules/

#*/config/site.php
*/files/cache/*
*/files/tmp/*

sftp-config.json


#template files ignored
psd/
*-ck.js