# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

*/img/.DS_Store
*/.DS_Store
.DS_Store

#node modules not required in source
/node_modules/
*/node_modules/

#concrete5 web folder files to ignore
#*/config/site.php
#web/files/*
web/sitemap.xml
web/files/tmp/*
web/files/cache/*
jakelib/*
sftp-config.json

#template files ignored
psd/
*-ck.js
