body {
/* =============== One, Two, Three Column Layouts =============== */

	.container {
		width: 1024px;

		//styled sidebar blocks
		.leftColumn, .rightColumn {
			.sidebar-block {
				.clearfix;
				border: 1px solid @grayLight;
				border-top: 2px solid @green;
				margin: 0px 0px 15px;
				padding: 3px 20px;
				.box-shadow(0px 3px 4px @grayLightish);
				#gradient .vertical(@white, darken(@white, 5%));

				h1 {
					text-align: center;
					padding-bottom: 10px;
					border-bottom: 1px dashed @grayLight;
				}

				p {
					&.float-left {
						padding: 0;
						margin: 0;
						float: left;
						min-width: 50%;
						font-size: 11px;
						&:last-child {
							margin-bottom: 10px;
						}
					}
				}

				a,a:visited {
					color: @blueDark;
				}

				.sidebarNews, .sidebarEvents {
					a,a:visited {
						font-size: 9px;
					}
				}

			}
		}	
		.leftColumn {
			float: left;
			width: 240px;
		}
		.centerColumn {
			float: left;
		}
		.rightColumn {
			float: right;
			width: 240px;
		}

		&.oneColumn {
			.product-list {
				.offset1 {
					margin-left: 35px;
				}
				.span6 {
					width: 720px;
				}
				hr {
					margin: 0px 20px 15px;
				}
			}
		}
	}

	.container.leftSidebar {
		.centerColumn {
			width: 765px;
		}
	}

	.container.threeColumn {
		.centerColumn {
			width: 624px;
		}
	}

	.container.rightSidebar{
		.centerColumn {
			float: left;
			width: 765px;
		}
		.rightColumn {

		}
	}
}