body {
/* =============== Homepage LESS =============== */

	.homeFeatured {
		margin-bottom: 10px;
		> img.ccm-image-block {
			margin-left: 20px;
			// .box-shadow(0px 3px 5px @gray);
			// width: 100%;
		}
	}

	.homeSocial {
		border-top: 1px solid @grayLightish;	
		margin: 20px 15px 10px;
		padding-top: 10px;
		.clearfix;
		.homeNews{
			margin-left: 20px;
			float: left;

		}
		.icons {
			float: right;
		}
	}

	.homeMain {
		border-top: 1px soild @grayLighter;
		margin-bottom: 20px;
		.clearfix;
		.HTMLBlock {
			img {
				margin-left: 10px;
			}	
		}
	}
}