
html {
	&.lt-ie9 {

		h1.bannerTitle {
			background: #fff;
			position: absolute;	
			left: 0;
		}
		body .pageTitle .banner .flip-right h1.bannerTitle {
			left: inherit;
			right: 0;
		}

		ul.dropdown-menu {
			z-index: 100;
		}

		div.row.banner {
			position: relative;
			z-index: -1;
		}

		body.wrap {
			z-index: 0;
		}
	}
}