
html {
	&.lt-ie9 {

		h1.bannerTitle {
			background: #fff;
			position: absolute;	
			left: 0;
		}
		body .pageTitle .banner .flip-right h1.bannerTitle {
			position: absolute;
			text-align: left;
			left: auto !important;
			right: 0 !important;
		}

		ul.dropdown-menu {
			z-index: 100;
		}

		.mainHeader .mainMenu ul.dropdown.nav {
			li {
				display: block;
				a {
					display: block;
				}
			}
		}

		div.row.banner {
			position: relative;
			z-index: -1;
		}

		body.wrap {
			z-index: 0;
		}
	}
}