body {
/* =============== General Main/Center Content Layout LESS =============== */
	
	#pagination.newsPagination {
		padding: 3px 20px;
		background: @blueDarker;
		color: @grayLighter;
		font-size: 11px;
		a,a:visited {
			color: @grayLighter;
		}
	}
	table.news-list {
		td {
			padding: 5px 0px 5px 20px;
			h3 {
				font-size: 14px;
				line-height: 16px;
				margin: 0px 0px 5px;
				padding: 0;
				color: @blueDark;
				a,a:visited {
					color: @blueDark;
				}
			}
		}
	}
	.tables, .support-results {
		.nav-header-tabs {
			.clearfix;
			clear: both;
			margin: 0px;
			padding: 0px;
			list-style: none;
			// background-color: @grayLight;
			// #gradient .vertical(#bcbcbc, #d9d9d9);
			// border: 1px solid @grayLightish;	
			// border-bottom: 3px solid @green;
			.clearfix;
			li {
				display: block;
				margin-right: 2px;
				padding: 5px 10px 0px 10px;
				float: left;
				font-size: 11px;
				line-height: 14px;
				//text-transform: uppercase; //M2M Modules page tab names are too long for this to work				
				border: none 0px #878787;
				border-bottom: 2px solid #a7a7a7;
				#gradient .vertical(#c5c5c5, #a7a7a7);
				.border-top-left-radius(3px);
				.border-top-right-radius(3px);
				p {
					margin: 0;
				}
				a, a:visited {
					color: #fff;
				}

				&:first-child{
					padding-left: 10px;
				}
				&.nav-selected {
					font-weight: bold;
					border-bottom: 2px solid @green;
					background-color: #ebebeb;
					#gradient .vertical(#ebebeb, #ebebeb);
					a, a:visited {
						color: @blueDark;
					}
				}
			}
		}
		.table.tableHeader{
			margin-top: 10px;
			margin-bottom: 0px;
			th {
				background: @blueDarker;
				color: @grayLighter;
				font-weight: bold;
			}
		}
		.table.tableContent {

		}
	}

	.product-list {
		margin-left: -10px;
		.row {
			margin-bottom: 15px;
		
			&.product-item {
				margin-left: 9px;	
				height: 325px;
			}

			.productThumbnail {
				text-align: center;
				margin-top: 50px;
				margin-bottom: 5px;
				img {
					// border: 1px solid #c2c2c2;
				}
			}
			.ccm-page-list-description {
				margin: 10px 20px;
			}
			a.find-out-more {
				text-indent: 9999px;	
				img {
					margin-bottom: 20px;
				}
			}
			h3 {
				// min-height: 40px;
				position: absolute;
				width: 300px;
				padding-left: 25px;
				margin: 10px 0px 0px;
				padding: 5px;
				// padding-left: 0px;
				background: none transparent;
				font-size: 14px;
				font-weight: bold;
				line-height: 18px;
				text-align: center;
				a, a:visited {
					font-size: 14px;
					font-weight: bold;
				}
			}
			hr {
				margin: 0px 20px 15px;
				border-top: 1px solid @grayLight;
				.clearfix;
				clear: both;
			}
		}
	}
	//rightSidebar product list adjustments
	.rightSidebar {
		.product-list {
			&.container {
				width: 765px;
				.offset1 {
					margin-left: 15px;
				}		
			}
		}
	}
}