body {
/* =============== General Main/Center Content Layout LESS =============== */
	
	#pagination.newsPagination {
		padding: 3px 20px;
		background: @blueDarker;
		color: @grayLighter;
		font-size: 11px;
		a,a:visited {
			color: @grayLighter;
		}
	}
	table.news-list {
		td {
			padding: 5px 0px 5px 20px;
			h3 {
				font-size: 16px;
				line-height: 18px;
				margin: 0px 0px 5px;
				padding: 0;
				a,a:visited {
					color: @blueDark;
				}
			}
		}
	}
	.tables {
		.nav-header-tabs {
			margin: 0px;
			padding: 0px 10px;
			list-style: none;
			background-color: @grayLight;
			#gradient .vertical(#bcbcbc, #d9d9d9);
			border: 1px solid @grayLightish;	
			border-bottom: 3px solid @green;
			.clearfix;
			li {
				display: block;
				padding: 5px 10px;
				float: left;
				border-right: 1px solid fadeout(@grayLightish, 30%);
				p {
					margin: 0;
				}
				&.nav-selected {
					font-weight: bold;
					a, a:visited {
						color: @blueDarkish;
					}
				}
			}
		}
		.table.tableHeader{
			margin-top: 10px;
			margin-bottom: 0px;
			th {
				background: @blueDarker;
				color: @grayLighter;
				font-weight: bold;
			}
		}
		.table.tableContent {

		}
	}

	.product-list {
		.row {
			margin-bottom: 15px;
		
			.productThumbnail {
				text-align: center;
				margin-top: 20px;
				margin-bottom: 10px;
				img {
					border: 1px solid #c2c2c2;
				}
			}
			a.find-out-more {
				text-indent: 9999px;	
				img {
					margin-bottom: 20px;
				}
			}
			h3 {
				padding-left: 0px;
				background: none transparent;
				line-height: 26px;
			}
			hr {
				margin: 0px 20px 15px;
				border-top: 1px solid @grayLight;
				.clearfix;
				clear: both;
			}
		}
	}
	//rightSidebar product list adjustments
	.rightSidebar {
		.product-list {
			&.container {
				width: 765px;
				.offset1 {
					margin-left: 15px;
				}		
			}
		}
	}
}