@import "bootstrap/bootstrap.less";

// @import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Rational
   ========================================================================== */

@headerHeight:			125px;
@bodyWidth:				1024px;

html {  }

body {
	.wrap {
		// background-color: @grayLighter;
		margin: 0px auto;
		padding-top: 25px;
		width: @bodyWidth;
		border-top: 5px solid @blueDark;
		
		.mainHeader{
			> .row:first-child {
				margin-bottom: 15px;
			}
			.logo {
				// display: block;
				// float: left;
				// img {
				// 	height: @headerHeight;
				// }	
				img {
					margin-left: 40px;
				}
			}
			.mainMenu{
				// display: block;
				// height: @headerHeight;
				> div{
					background: url(img/main_menu_bg.png);
					.box-shadow(0px 0px 8px @grayLighter);
				}
				.nav{
					// .clearfix;
					padding: 0px 10px;
					margin-left: 100px;
					> li {
						border-left: 1px solid fadeout(@gray, 50%);
						a, a:visited {
							font-size: 16px;
							line-height: 20px;
							font-weight: 200;
						}
					}
					> li:first-child{
						margin-left: 100px;
						border-left: 1px solid fadeout(@gray, 50%);
						display:none;
					}
					> li:last-child {
						border-right: 1px solid fadeout(@gray, 50%);
					}
					> li {
						float: left;
						a, a:visited {
							color: fadeout(@white, 30%);
							text-shadow:1px 1px @grayDark;
							padding: 12px 20px 10px 20px;
						}
						a:hover{
							color: @gray;
							text-shadow:1px 1px @grayLighter;
							.box-shadow(1px 2px 6px @gray);
						}
					}
					.dropdown-menu {
						top: 40px;
						left: initial;
						margin-left: -10px;
						padding-bottom: 15px;
						min-width: 200px;
						background: fadeout(@white, 20%);
						border-radius: 1px;
						border-bottom: 5px solid @blueDark;	
						li {
							a,a:visited {
								color: @gray;
								text-shadow: 1px 1px @grayLighter;
								padding: 6px 0px 4px;
								margin-left: 20px;
								margin-right: 20px;
								border-bottom: 1px solid @grayLight;
								font-size: 12px;
								font-weight: bold;
							}
							a:hover {
								color: @white;
								text-shadow: 1px 1px @grayLight;
							}
						}
					}
				}
			}
		}

		.homeFeatured {
			margin-bottom: 10px;
			> img.ccm-image-block {
				margin-left: 20px;
				// .box-shadow(0px 3px 5px @gray);
				// width: 100%;
			}
		}

		.homeMain {
			border-top: 1px soild @grayLighter;
			margin-bottom: 20px;
			> div {
				> div{
					border: 1px solid @grayLighter;
					.box-shadow(0px 6px 8px @gray);			
				}
		
			}
		}

		.container {
			width: 1024px;

			.leftColumn {
				float: left;
			}
			.centerColumn {
				float: left;
			}
			.rightColumn {
				float: right;
			}
		}
		.container.rightSidebar{
			.centerColumn {
				float: left;
			}
		}

	}

	.wrap.editMode {
		.area {
			border: 1px dotted #f90;
			background: @grayLighter;
			margin-bottom: 32px;
		}
	}

	.footer {
		margin-left: 0px;
		margin-bottom: 30px;
		
		padding-right: 20px;

		background: @grayLighter;
		#gradient .vertical(@white, @grayLighter);
		border: 1px solid @grayLight;
		border-bottom: 5px solid @blueDark;

		>div {

		}
		ul.nav{
			width: @bodyWidth;
			margin: 10px 0px;
			.clearfix;
			li {
				list-style: none;
			}
			>li:first-child {
				display:none;
			}
			>li {
				display: block;
				width: (@bodyWidth / 6);
				float: left;
			}
		}
	}

}



