@import "bootstrap/bootstrap.less";

// @import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Rational
   ========================================================================== */

@headerHeight:			125px;
@bodyWidth:				1024px;

html {  }

body {
	.headerWrap {
		padding-top: 20px;
		border-top: 5px solid @blueDark;
		background: url(img/main_menu_bg.png) repeat-x 0px 74px transparent;

	}
	.wrap {
		// background-color: @grayLighter;
		margin: 0px auto;
		// padding-top: 25px;
		width: @bodyWidth;
	}	
		.mainHeader{
			> .row:first-child {
				margin-bottom: 15px;
			}
			.logo {
				// display: block;
				// float: left;
				// img {
				// 	height: @headerHeight;
				// }	
				img {
					margin-left: 40px;
				}
			}
			.altNav {
				p {
					margin: 5px 0px 10px;
				}
				form {
					margin: 0px 30px 0px 0px;
					input {
						border: 1px solid #ccc;
						border-radius: 0px;
						.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
						&.searchInput {
							width: 130px;
						}
						&.searchSubmit {
							background: url(img/icons/search-icon.png) no-repeat 50% 50% transparent;
							text-indent: -9999px;
							margin-top: -10px;
							margin-left: -4px;
							width: 30px;
							height: 30px;
						}
					}
				}
			}
			.mainMenu{
				// display: block;
				// height: @headerHeight;
				> div{
					background: url(img/main_menu_bg.png);
					// .box-shadow(0px 0px 8px @grayLighter);
				}
				.nav{
					// .clearfix;
					padding: 0px 10px;
					margin-left: 100px;
					> li {
						border-left: 1px solid fadeout(@gray, 50%);
						a, a:visited {
							font-size: 16px;
							line-height: 20px;
							font-weight: 200;
						}
					}
					> li:first-child{
						margin-left: 100px;
						border-left: 1px solid fadeout(@gray, 50%);
						display:none;
					}
					> li:last-child {
						border-right: 1px solid fadeout(@gray, 50%);
					}
					> li {
						float: left;
						> a, > a:visited {
							color: fadeout(@white, 30%);
							text-shadow:1px 1px @grayDark;
							padding: 12px 20px 10px 20px;
						}
						> a:hover, > a.hover {
							color: @gray;
							background-color: @grayLighter;
							// text-shadow:1px 1px @grayLighter;
							// .box-shadow(1px 2px 6px @gray);
						}
						&.nav-selected {
							background-color: fadeout(@grayDark, 60%);	
						}
					}
					.dropdown-menu {
						top: 40px;
						left: initial;
						margin-left: -10px;
						padding-bottom: 15px;
						min-width: 220px;
						background: fadeout(@white, 10%);
						border-radius: 1px;
						border-bottom: 5px solid @blueDark;	
						li {
							a,a:visited {
								color: @gray;
								text-shadow: 1px 1px @grayLighter;
								padding: 6px 0px 4px;
								margin-left: 20px;
								margin-right: 20px;
								border-bottom: 1px solid @grayLight;
								font-size: 12px;
								text-decoration: none;
								// font-weight: bold;
							}
							a:hover {
								// color: @white;
								// background-color: fadeout(@grayDark, 60%);
								// text-shadow: 1px 1px @grayLight;
								font-weight: bold;
								background-color: transparent;
								background-image: none;
							}
						}
					}
				}
			}
		}

		.homeFeatured {
			margin-bottom: 10px;
			> img.ccm-image-block {
				margin-left: 20px;
				// .box-shadow(0px 3px 5px @gray);
				// width: 100%;
			}
		}

		.homeSocial {
			border-top: 1px solid @grayLightish;	
			margin: 20px 15px 10px;
			padding-top: 10px;
			.clearfix;
			.homeNews{
				margin-left: 20px;
				float: left;

			}
			.icons {
				float: right;
			}
		}

		.homeMain {
			border-top: 1px soild @grayLighter;
			margin-bottom: 20px;
			.clearfix;
			.HTMLBlock {
				img {
					margin-left: 10px;
				}	
			}
		}

		.pageTitle {
			.row {
				.span12 {
					img {
						width: 100%;
					}
				}
			}
			.breadcrumb {
				background-color: transparent;
			}
		}

		.container {
			width: 1024px;

			&.oneColumn, &.leftColumn, &.rightColumn, &.threeColumn {
				// border: 1px solid @gray;
			}

			.leftColumn {
				float: left;
				width: 200px;
			}
			.centerColumn {
				float: left;
			}
			.rightColumn {
				float: right;
				width: 200px;
			}
		}

		.container.leftColumn {
			.centerColumn {
				width: 800px;
			}
		}

		.container.threeColumn {
			.centerColumn {
				width: 624px;
			}
		}

		.container.rightSidebar{
			.centerColumn {
				float: left;
				width: 800px;
			}
		}

	}

	.wrap.editMode {
		.area {
			border: 1px dotted #f90;
			background: @grayLighter;
			margin-bottom: 32px;
		}
	}

.footerWrap {

	margin-bottom: 5px;
	border-bottom: 5px solid @blueDark;
	background: @grayLighter;
	#gradient .vertical(@white, @grayLighter);
	border-top: 1px solid @grayLight;

	.footer {
		margin-left: 0px;
		padding-right: 20px;

		>div {
			// margin-left: 0px;
		}

		ul.nav{
			width: @bodyWidth - 20px;
			margin: 35px 0px 40px 100px;
			// .content-columns(4);
			.clearfix;
			li {
				list-style: none;
			}
			>li:first-child {
				display:none;
			}
			// >li:nth-child(2n+1){
			// 	//force to next column
			// 	-webkit-column-break-before:always;
			// 	-moz-column-break-before:always;
			// 	column-break-before:always;
			// }
			>li {
				>a {
					font-weight: bold;
				}
				display: block;
				width: (@bodyWidth / 5);
				float: left;
			}
			ul {
				margin: 0px;
			}
		}

		.footer-sub {
			margin-top: 15px;
		}
	}
}
