@import "bootstrap/bootstrap.less";

// @import "bootstrap/responsive.less";

//theme variables
@headerHeight:			125px;
@bodyWidth:				1024px;

//theme styles
@import "header.less";
@import "search_widget.less";
@import "home.less";
@import "subnav.less";
@import "columns.less";
@import "center_column.less";
@import "main.less";
@import "right_sidebar.less";
@import "edit_mode.less";
@import "footer.less";
@import "social.less";
//TODO: fix the order of the less include files

/* ===== Primary Styles ========================================================
   Author: Rational
   ========================================================================== */

html {  }

body {

	//grid overrides
	.span3 {
		width: 225px;
	}
	.oneColumn .span12 {
		margin-left: 0px;
	}

	table {
		&.support {
				
		}
	}
	.productTitle {
		margin-bottom: 10px;
	}
	.productMainImages{
		img {
			cursor: pointer;
			text-align: center;
			display: block;
			margin: 0px auto;
		}
	}
	.productMoreImages {
		img {
			cursor: pointer;
		}
	}
	.modal {
		.modal-body {
			text-align: center;
			padding: 20px 0px 30px;
		}
	}
	.slideImgWrap {
		border: 1px solid #c2c2c2;
		.border-radius(3px);
	}

	//where to buy
	.where-to-buy-header {

	}
	.where-to-buy-results {
		min-height: 300px;
		.carrier-list{
			margin: 20px 10px 10px;
			.carrier-item {
				margin: 10px 10px;
				width: 30%;
				float: left;
				font-size: 16px;
				color: @blueDark;
				.carrier-sub {
					color: @gray;
					font-size: 12px;
				}
				&:nth-child(3n+4) {
					clear: left;
				}
				&.carrier-item-full{
					width: 100%;
					clear: both;
				}
			}		
		}	
	}
	.region-menu, .country-menu {
		margin-bottom: 0px;
	}

	.table.support-results {
		// margin-left: -8px;
		// margin-right: -8px;
		// margin-bottom: -8px;
		// width: 765px;
		tr {
			th {
				min-width: 200px;
				padding: 10px;
				background: @blueDarker;
				color: @grayLighter;
				font-weight: bold;
			}
			td {
				margin: 2px;
				padding: 10px;
				border: 1px solid @grayLighter;
				&.product-thumbnail {
					min-width: 100px;
					text-align: center;
					background: @white;
				}
				&.product-name {
					min-width: 300px;
				}
				&.product-description {
				}
				&.product-support {
				}
				h5 {
					font-size: 12px;
					margin: 0px;
					padding: 0px;
				}
			}
		}
	}

	.underline {
		.ccm-page-list-title {
			border-bottom: 1px solid @gray;
		}
		hr {
			border-bottom: 1px solid @gray;
		}
	}

	.ccm-page-list {
		h5 {
			font-weight: normal;
			font-size: 12px;
			margin-left: 3px;
			margin-top: -15px;
			margin-bottom: -10px;
		}
	}

	select.region-menu, select.country-menu {
		width: auto;
		min-width: 220px;
	}
}
