body {
/* =============== One, Two, Three Column Layouts =============== */

	.container {
		width: 1024px;

		p {
			font-size: 13px;
		}
	}

	.container.leftSidebar {
		.centerColumn {
			width: 765px;
		}
	}

	.container.threeColumn {
		.centerColumn {
			width: 624px;
		}
	}

	.container.rightSidebar{
		.centerColumn {
			float: left;
			width: 765px;
		}
		.rightColumn {

		}
	}

	.container.rightSidebar.product{
		// margin-top: 40px;

		// .centerColumn {
		// 	float: left;
		// 	// width: 525px;
		// }
		// .rightColumn {
		// 	// margin: 33px 88px 0 0;
		// }
	}
}